<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1" />
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form
            action="/verify-user"
            method="post">
            <fieldset>
                <legend>Email ID</legend>
                <input
                    type="email"
                    name="email" />
            </fieldset>
            <fieldset>
                <legend>Password</legend>
                <input
                    type="password"
                    name="password" />
            </fieldset>
            <button type="submit">LOGIN</button>
            <p>
                Forgot your password?
                <a href="/reset-password">Reset here</a>
            </p>
        </form>
    </body>
</html>
