<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1" />
        <title>Reset Password</title>
    </head>
    <body>
        <h1>Reset Password</h1>
        <form
            action="/verify-reset-password"
            method="post">
            <fieldset>
                <legend>Email ID</legend>
                <input
                    type="email"
                    name="email" />
            </fieldset>
            <fieldset>
                <legend>Your Favorite Color</legend>
                <input
                    type="text"
                    name="favColor" />
            </fieldset>
            <fieldset>
                <legend>New Password</legend>
                <p>
                    We will not be able to reset your password if Email or
                    Favorite Color does not match!
                    <br />
                    <input
                        type="password"
                        name="password" />
                </p>
            </fieldset>

            <button type="submit">RESET</button>
        </form>
    </body>
</html>
